<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.HuaDeity.kagisuggest</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>300F116C-4BDA-4D13-B178-7D16B4DC5EBC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9723E586-E9A8-40B9-8A55-6EB35C230971</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4397E2C7-6C13-4328-B17B-23B4F5F6B524</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63F60794-BB56-4415-9372-BAF974C3A7E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>63F60794-BB56-4415-9372-BAF974C3A7E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DE64EB4D-CEDB-44CE-B65C-08E36A75AA73</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9723E586-E9A8-40B9-8A55-6EB35C230971</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F9095F69-9B37-452A-83A0-9BBEC602B4AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DE64EB4D-CEDB-44CE-B65C-08E36A75AA73</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>49BA7CF0-8CD7-4088-91A4-FAE79CC66C96</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>4633F1C1-E0B7-45B9-9ED8-5886BAE654D4</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>300F116C-4BDA-4D13-B178-7D16B4DC5EBC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>HuaDeity</string>
	<key>description</key>
	<string>Get in-line Kagi search suggestions</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Kagi Suggest</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://kagi.com/search?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>49BA7CF0-8CD7-4088-91A4-FAE79CC66C96</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>{var:search_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Querying suggestions…</string>
				<key>script</key>
				<string>// Items follow the same pattern
function makeItems(itemNames) {
  return itemNames.map(name =&gt; {
    return {
      "uid": name,
      "title": name,
      "subtitle": "Search “" + name + "” on Kagi",
      "autocomplete": name,
      "arg": name
    }
  })
}

// Check values from previous runs this session
const oldArg = $.NSProcessInfo.processInfo.environment.objectForKey("oldArg").js
const oldResults = $.NSProcessInfo.processInfo.environment.objectForKey("oldResults").js

// Build items
function run(argv) {
  // If the user is typing, return early to guarantee the top entry is the currently typed query
  // If we waited for the API, a fast typer would search for an incomplete query
  if (argv[0] !== oldArg) {
    return JSON.stringify({
      "rerun": 0.1,
      "skipknowledge": true,
      "variables": { "oldResults": oldResults, "oldArg": argv[0] },
      "items": makeItems(argv.concat(oldResults?.split("\n").filter(line =&gt; line)))
    })
  }

  // Make the API request
  const encodedQuery = encodeURIComponent(argv[0])
  const queryURL = $.NSURL.URLWithString("https://kagisuggest.com/api/autosuggest?q=" + encodedQuery)
  const requestData = $.NSData.dataWithContentsOfURL(queryURL);
  const requestString = $.NSString.alloc.initWithDataEncoding(requestData, $.NSUTF8StringEncoding).js
  const newResults = JSON.parse(requestString || "{}")[1]?.filter(result =&gt; result !== argv[0]) || []

  // Return final JSON
  return JSON.stringify({
    "skipknowledge": true,
    "variables": { "oldResults": newResults.join("\n"), "oldArg": argv[0] },
    "items": makeItems(argv.concat(newResults))
  })
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Search Kagi with suggestions</string>
				<key>title</key>
				<string>Search Kagi</string>
				<key>type</key>
				<integer>7</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>63F60794-BB56-4415-9372-BAF974C3A7E1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>text</key>
				<string>Search Kagi with Suggestions for '{query}'</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>4397E2C7-6C13-4328-B17B-23B4F5F6B524</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:session_link}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Search</string>
						<key>uid</key>
						<string>4633F1C1-E0B7-45B9-9ED8-5886BAE654D4</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Search with token</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>DE64EB4D-CEDB-44CE-B65C-08E36A75AA73</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F9095F69-9B37-452A-83A0-9BBEC602B4AF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>%s</string>
				<key>replacestring</key>
				<string>{var:query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>9723E586-E9A8-40B9-8A55-6EB35C230971</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:session_link}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>query</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>300F116C-4BDA-4D13-B178-7D16B4DC5EBC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Get in-line suggestions from Kagi’s search results via the `k` keyword. Press &lt;kbd&gt;↩&lt;/kbd&gt; to open the search results page in the default web browser.

![Kagi in-line results](images/about/kagi-search-results.png)

Set a Session Link to search in the [Workflow’s Configuration](https://www.alfredapp.com/help/workflows/user-configuration/).</string>
	<key>uidata</key>
	<dict>
		<key>300F116C-4BDA-4D13-B178-7D16B4DC5EBC</key>
		<dict>
			<key>xpos</key>
			<real>570</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>4397E2C7-6C13-4328-B17B-23B4F5F6B524</key>
		<dict>
			<key>note</key>
			<string>Optionally set it as a Fallback Search in Features → Default Results</string>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>49BA7CF0-8CD7-4088-91A4-FAE79CC66C96</key>
		<dict>
			<key>xpos</key>
			<real>750</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>63F60794-BB56-4415-9372-BAF974C3A7E1</key>
		<dict>
			<key>note</key>
			<string>Set your keyword via the "Configure workflow..." button.</string>
			<key>xpos</key>
			<real>230</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>9723E586-E9A8-40B9-8A55-6EB35C230971</key>
		<dict>
			<key>xpos</key>
			<real>660</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>DE64EB4D-CEDB-44CE-B65C-08E36A75AA73</key>
		<dict>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>F9095F69-9B37-452A-83A0-9BBEC602B4AF</key>
		<dict>
			<key>xpos</key>
			<real>750</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>k</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Search Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>search_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Get it at https://kagi.com/settings/user_details</string>
			<key>label</key>
			<string>Session Link</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>session_link</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2026.1</string>
	<key>webaddress</key>
	<string>https://github.com/HuaDeity/kagi-suggest-workflow/</string>
</dict>
</plist>
